<nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      
      <% if (user && user.role === 'admin') { %>
        <li><a href="/add-food">Add Food</a></li>
        <li><a href="/manage-orders">Manage Orders</a></li>
      <% } else if (user && user.role === 'user') { %>
        <li><a href="/order-status">Order Status</a></li>
      <% } %>
  
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  